* {
    margin: 0;
    padding: 0;
}

:root {
    --dark-violet: #3D246C;
    --violet: #5C4B99;
    --light-violet: #9F91CC;
    --peach: #FFDBC3;
    --dark-peach: #ffdbc382;
    --black: #000000;
    --white: #FFFFFF;
    --gray: #eee;
    --dark-gray: #ddd;
    --yellow: yellow;
    --gold: gold;
    --blue: skyblue;

}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: var(--gray);
    /* grid-template-rows: repeat(4, 1fr); */
}

.corner {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: var(--dark-violet);
}


.sidebar {
    background-color: var(--dark-violet);
    grid-column: 1/2;
    grid-row: 2/7;
    display: flex;
    flex-direction: column;
    color: var(--light-violet);
    
}

.sidebar div {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.sidebar div:hover {
    background-color: var(--light-violet);
}

.header {
    grid-column: 2/-1;
    display: flex;
    padding-left: 1rem;
    max-height: 5rem;
    background-color: var(--white);
    color: var(--black);
    border-bottom: 4px solid var(--dark-gray);
}

/* Search bar */

.searchbar {
    flex: 1;
    display: flex;
    align-items: center;
}
.search-form {
    color: var(--black);
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 25px;
    flex: 1;
  }

input[type="search"] {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    flex: 1;
}

input[type="search"]::placeholder {
    color: var(--light-violet);
}

button.search {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
 
  }
  

button.search:hover {
    opacity: 1;
  }


button.search:focus,
input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
}
 
/* -------------------- */

.right {
    display: flex;
    padding: 20px 1px;
    flex: 0.25 0 auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.profile-picture {
    background: url("./images/background\ 1.29.41\ AM.png");
    background-size: cover;
    border: 1px solid black;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.project-header {
    grid-column: 2/3;
    font-size: 50px;
    

}

.project-wrapper {
    padding: 10px;
    grid-column: 2/3;
    grid-row: 3/7;
    background-color: var(--gray);
    color: var(--black);
}

.project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.project-item {
    height: 200px;
    border-radius: 10px;
    border: 2px solid var(--dark-gray);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
}

.project-item:hover {
    /* background-color: var(--light-violet); */
    border: 2px solid var(--dark-violet);
}

.icon-wrapper {
    display: flex;
    align-self: end;
}

.star:hover {
    fill: var(--yellow);
}

.share:hover {
    fill: var(--blue);
}

.pressed {
    fill: var(--gold);
}

.paraWrapper {
    overflow: hidden;
    padding: 1rem;
    margin: 1rem 0;
}

.paraWrapper:hover {
    overflow: auto;
}


.paraWrapper p {
    text-align: justify;
}




.announcement-header {
    grid-column: 3/4;
    
}

.announcements {
    grid-column: 3/4;
 

    margin-top: 1rem;
    margin-right: 1rem;
    background-color: var(--dark-peach);
    border: 1px solid black;
    border-radius: 10px;
}

.trending-header {
    grid-column: 3/4;

}

.trending {
    grid-column: 3/4;
    margin-top: 1rem;
    margin-right: 1rem;
    background-color: var(--dark-peach);
    border: 1px solid black;
    border-radius: 10px;
}

